[Unit]
Description=es
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Type=simple
Restart=always
RestartSec=60
EnvironmentFile=/etc/environment


ExecStartPre=-/usr/bin/docker kill es
ExecStartPre=-/usr/bin/docker rm es
ExecStartPre=/usr/bin/docker pull barnybug/elasticsearch:1.3.2
ExecStartPre=-/usr/bin/bash -c "sudo mkdir /mnt/es"

ExecStart=/bin/bash -c '\
  /usr/bin/docker run --rm \
    --name es \
    --publish 80:9200 \
    --publish 9300:9300 \
    --volume /mnt/es:/data \
    barnybug/elasticsearch:1.3.2'

ExecStop=/usr/bin/docker kill es
